input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.grid-top {
    border-top: 1px solid #10AF34;
}

.incorrect {
    background-color: #f1c0c0 !important;
}

.grid-cell {
    border: solid 0 #ffffff;
    text-align: center;
    margin: 0;
    width: 30pt;
    height: 30pt;
    border-left: #DDDDEE solid 1px;
    border-bottom: #DDDDEE solid 1px;
}

input.grid-left {
    border-left: black;
    border-width: 1px;
}

input.grid-top {
    border-top: black;
    border-width: 1px;
}

input.grid-right {
    border-right: black;
    border-width: 1px;
}

input.grid-bottom {
    border-bottom: black;
    border-width: 1px;
}
